## Ignore build output
bin/
obj/
out/

## Ignore VS and Rider files
.vs/
.idea/
*.suo
*.user

## Ignore logs, databases
*.log
*.db
*.mdf
*.ldf
*.bak

## VS Code
.vscode/

## EF Core migrations 
Migrations/
